<style>
  .dropbtn {
    color: black;
    font-weight: bold;
    margin: 0.5rem;
    text-transform: uppercase;
    text-decoration: underline;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    background-color: white;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    color: black;
    font-weight: bold;
    color: dodgerblue;
  }
</style>

<nav role="navigation">
  <ul>
    <li><a href="{{ site.url }}/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
    <li><a href="{{ site.url }}/coordinator" {% if page.url == "/coordinator" %}class="active"{% endif %}>Coordinators</a></li>
    <li><div class="dropdown">
      <a class="dropbtn">Projects</a>
      <div class="dropdown-content">
        <a href="{{ site.url }}/ai4ar" {% if page.url == "/ai4ar" %}class="active"{% endif %}>AI4AR: AI for Augmented Reality</a>
        <a href="{{ site.url }}/denoising" {% if page.url == "/denoising" %}class="active"{% endif %}>Playing with Point Clouds</a>
        <a href="{{ site.url }}/rl" {% if page.url == "/rl" %}class="active"{% endif %}>Virtual Home Assistant</a>
        <a href="{{ site.url }}/vqa" {% if page.url == "/vqa" %}class="active"{% endif %}>AI on Edge</a>
        <a href="{{ site.url }}/sip" {% if page.url == "/sip" %}class="active"{% endif %}>Project Pingala: Speech Synthesis for Sanskrit Verse</a>
      </div>
    </div>
    </li>
    <li><a href="{{ site.url }}/coordinterest" {% if page.url == "/coordinterest" %}class="active"{% endif %}>Coordinator Interest Form</a></li>
    <li><a href="{{ site.url }}/pminterest" {% if page.url == "/pminterest" %}class="active"{% endif %}>Project Interest Form</a></li>
    <li><a href="{{ site.url }}/faq" {% if page.url == "/faq" %}class="active"{% endif %}>FAQ</a></li>
  </ul>
</nav>
